*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #f1f3f4;
    font-family: sans-serif;
}
.top-nav-bar{
height: 60px;
top: 0;
position: sticky;
background: #fff;
margin-bottom: 20px;
border-bottom: 3px solid orange;
z-index: 2;
}
.logo{
    height: 40px;
    margin: 5px 10px;
}
.form-control{
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid orange !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
}
.input-group-text
{
    background: orange !important;
    border: 1px solid orange !important;
    margin: 8.5px 10px 3px 0;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
}
.search-box
{
    display: inline-flex;
    width: 60%;
    height: 40px;
}
.fa-search{
    color: #fff;
}
.MenuItems ul{
    margin: 16px;
    width: 40px;
    height: 57px;
    float: right;
}
.MenuItems ul{
    display: inline-flex;
    float: right;
}
.MenuItems ul li{
    border-left: 1px solid #fff;
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: orange;
    cursor: pointer;
}
.MenuItems ul li a
{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.MenuItems .fa {
 margin-right: 8px;
}
@media only screen and (max-width: 980px)
{
    .top-nav-bar{
        height: 118px;
        border-bottom: 0;
    }
}
.search-box
{
    width: 100%;
}
.MenuItems{
    width: 100%;
}
.MenuItems ul{
    margin: 10px 0;
    width: 100%;
}
.MenuItems ul li{
    height: 57px;
    width: 100%;
}
/*----------------slider CSS------------------*/

.slider{
    width: 85%;
    margin: auto;
    padding: 40px 20%;
}
.carousel{
    box-shadow: 10px 10px 40px 10px rgba(0,0,0,0,5);
}
.carousel-indicators{
    z-index: 1 !important;
}

/*-----------------content-------------------*/
.content h1{
    font-size: 24px;
}
.content p{
    font-size: 20px;
}

/*----------------Footer--------------------*/
.footer{
    margin-top: 50px;
    background: #000;
    color: #fff;
}
.footer h1{
    font-size: 16px;
}
.About{
    margin: 10px 0;
    width: 100%;
    margin: 10px 0;
    background-color: bisque;
    
   

}
.About ul li{
    margin-bottom: 9px;
    margin-left: 30px;
    box-shadow: none !important;
   
}
.About ul li a{
    font-size: 16px;
    font-weight: bold;
    color: rgb(32, 15, 190);
    text-decoration: none;
    background-color: aquamarine;
   border-radius: 2px;
    border-color: black;
    padding: 2px;
    border: #000;

}
.contact{
  border-top-width: 120px;
} 